.balance {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: hidden;

  &__header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    padding-right: 8px;
    height: 100%;
  }

  &__item {
    background: var(--primary);
    color: var(--secondary);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-amount {
      font-size: 20px;
    }
  }
}
