.case {
  display: grid;
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
  background-color: #aa2034;
  border-radius: 24px;
  box-shadow: 2px 2px 16px #0008;
  padding: 16px;
  grid-template-columns: 1fr 176px 1fr;
  grid-template-rows: 1fr 48px;
  gap: 8px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 80vw;
    height: 80vh;
    max-width: 720px;
    max-height: 400px;
    grid-template-columns: 1fr 128px;
    grid-template-rows: 24px 1fr 60px;
  }
}

.buttons {
  display: flex;
}
