.screen {
  background-color: #576;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;

  @media (min-width: 768px) {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
  }

  &-off {
    font-size: 24px;
    opacity: 0.5;
    position: absolute;
  }

  &-on {
    position: relative;
    background-color: #ccd4cc;
    width: 0;
    height: 0;
    border-radius: 100%;
    box-shadow: inset 0 0 8px #042f;
    transition: width 180ms, height 200ms, border-radius 50ms;
    overflow: hidden;
    color: #0000;

    &.active {
      color: #000;
      width: 100%;
      height: 100%;
      border-radius: 0;
      transition: width 150ms, height 250ms, border-radius 50ms;
    }
  }
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000a 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
